@media only screen and (min-width: 300px) and (max-width: 767px) {
  body {
    background-color: lightgreen;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightblue;

  }
}
@media only screen and (min-width: 1025px) {
  .header-wrapper {
    background-color: lightpink;
    width: 30%;
    display: block;
  }
}