.top-bar{
  
  border-bottom: 1px solid #ebebeb;
  background-color: #fefaf7;
  height: 26px;
  padding: 5px;
  text-align: center;
  // line-height: 30px;
  font-weight: 400;
  position: relative;
  color: #3a3737;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.77px;
  h4{
    height: 35px;
    text-align: center;
  }
  h3{
    text-align: center;
    padding: 5px;
  }
}