.header {
  margin: 0px 30px;
  padding: 10px 0; }

.header .mearger {
  display: flex; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.logo img {
  width: 166px;
  padding: 0px 15px; }

.left-logo {
  padding: 0px 10px;
  height: 35px; }

.center-content .ul-list {
  display: flex;
  padding: 10px; }
  .center-content .ul-list li {
    padding: 0px 10px; }

.center-content a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer; }

.center-content .new-arrivales:hover .megamenu-new-arrivales {
  max-height: inherit;
  opacity: 1; }

.center-content .megamenu-new-arrivales {
  width: 1016px;
  height: 260px;
  opacity: 0;
  overflow: visible;
  text-align: center;
  transition: opacity 300ms ease;
  position: absolute;
  left: 180px;
  top: 85px;
  background-color: white; }
  .center-content .megamenu-new-arrivales .main-list-new-arrivales {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .center-content .megamenu-new-arrivales .main-list-new-arrivales .list-one-new-arrivales {
      padding: 20px;
      height: 220px; }
      .center-content .megamenu-new-arrivales .main-list-new-arrivales .list-one-new-arrivales li {
        padding: 10px; }
      .center-content .megamenu-new-arrivales .main-list-new-arrivales .list-one-new-arrivales .list-all-new-arrivales {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .center-content .megamenu-new-arrivales .main-list-new-arrivales .list-one-new-arrivales .list-all-new-arrivales li {
          text-align: left; }
    .center-content .megamenu-new-arrivales .main-list-new-arrivales .list-two-new-arrivales img {
      width: 416px;
      height: 260px;
      float: right; }

.center-content .clothing:hover .megamenu-clothing {
  max-height: inherit;
  opacity: 1; }

.center-content .megamenu-clothing {
  width: 1016px;
  height: 260px;
  opacity: 0;
  overflow: visible;
  text-align: center;
  transition: opacity 300ms ease;
  position: absolute;
  left: 180px;
  top: 85px;
  background-color: white; }
  .center-content .megamenu-clothing .main-list-clothing {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .center-content .megamenu-clothing .main-list-clothing .list-one-clothing {
      padding: 20px;
      height: 220px; }
      .center-content .megamenu-clothing .main-list-clothing .list-one-clothing li {
        padding: 10px; }
      .center-content .megamenu-clothing .main-list-clothing .list-one-clothing .list-all-clothing {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .center-content .megamenu-clothing .main-list-clothing .list-one-clothing .list-all-clothing li {
          text-align: left; }
    .center-content .megamenu-clothing .main-list-clothing .list-two-clothing {
      float: right; }
      .center-content .megamenu-clothing .main-list-clothing .list-two-clothing img {
        width: 416px;
        height: 260px; }

.center-content .plus:hover .megamenu-plus {
  max-height: inherit;
  opacity: 1; }

.center-content .megamenu-plus {
  width: 1016px;
  height: 260px;
  opacity: 0;
  overflow: visible;
  text-align: center;
  transition: opacity 300ms ease;
  position: absolute;
  left: 180px;
  top: 85px;
  background-color: white; }
  .center-content .megamenu-plus .main-list-plus {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .center-content .megamenu-plus .main-list-plus .list-one-plus {
      padding: 20px;
      height: 220px; }
      .center-content .megamenu-plus .main-list-plus .list-one-plus li {
        padding: 10px; }
      .center-content .megamenu-plus .main-list-plus .list-one-plus .list-all-plus {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .center-content .megamenu-plus .main-list-plus .list-one-plus .list-all-plus li {
          text-align: left; }
    .center-content .megamenu-plus .main-list-plus .list-two-plus img {
      width: 416px;
      height: 260px;
      float: right; }

.center-content .collections:hover .megamenu-collections {
  max-height: inherit;
  opacity: 1; }

.center-content .megamenu-collections {
  width: 1016px;
  height: 260px;
  opacity: 0;
  overflow: visible;
  text-align: center;
  transition: opacity 300ms ease;
  position: absolute;
  left: 180px;
  top: 85px;
  background-color: white; }
  .center-content .megamenu-collections .main-list-collections {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .center-content .megamenu-collections .main-list-collections .list-one-collections {
      padding: 20px;
      height: 220px; }
      .center-content .megamenu-collections .main-list-collections .list-one-collections li {
        padding: 10px; }
      .center-content .megamenu-collections .main-list-collections .list-one-collections .list-all-collections {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .center-content .megamenu-collections .main-list-collections .list-one-collections .list-all-collections li {
          text-align: left; }
    .center-content .megamenu-collections .main-list-collections .list-two-collections img {
      width: 416px;
      height: 260px;
      float: right; }

.center-content .accessories:hover .megamenu-accessories {
  max-height: inherit;
  opacity: 1; }

.center-content .megamenu-accessories {
  width: 1016px;
  height: 260px;
  opacity: 0;
  overflow: visible;
  text-align: center;
  transition: opacity 300ms ease;
  position: absolute;
  left: 180px;
  top: 85px;
  background-color: white; }
  .center-content .megamenu-accessories .main-list-accessories {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .center-content .megamenu-accessories .main-list-accessories .list-one-accessories {
      padding: 20px;
      height: 220px; }
      .center-content .megamenu-accessories .main-list-accessories .list-one-accessories li {
        padding: 10px; }
      .center-content .megamenu-accessories .main-list-accessories .list-one-accessories .list-all-accessories {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .center-content .megamenu-accessories .main-list-accessories .list-one-accessories .list-all-accessories li {
          text-align: left; }
    .center-content .megamenu-accessories .main-list-accessories .list-two-accessories img {
      width: 416px;
      height: 260px;
      float: right; }

.center-content .home:hover .megamenu-home {
  max-height: inherit;
  opacity: 1; }

.center-content .megamenu-home {
  width: 1016px;
  height: 260px;
  opacity: 0;
  overflow: visible;
  text-align: center;
  transition: opacity 300ms ease;
  position: absolute;
  left: 180px;
  top: 85px;
  background-color: white; }
  .center-content .megamenu-home .main-list-home {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .center-content .megamenu-home .main-list-home .list-one-home {
      padding: 20px;
      height: 220px; }
      .center-content .megamenu-home .main-list-home .list-one-home li {
        padding: 10px; }
      .center-content .megamenu-home .main-list-home .list-one-home .list-all-home {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .center-content .megamenu-home .main-list-home .list-one-home .list-all-home li {
          text-align: left; }
    .center-content .megamenu-home .main-list-home .list-two-home img {
      width: 416px;
      height: 260px;
      float: right; }

.center-content .sale:hover .megamenu-sale {
  max-height: inherit;
  opacity: 1; }

.center-content .megamenu-sale {
  width: 1016px;
  height: 260px;
  opacity: 0;
  overflow: visible;
  text-align: center;
  transition: opacity 300ms ease;
  position: absolute;
  left: 180px;
  top: 85px;
  background-color: white; }
  .center-content .megamenu-sale .main-list-sale {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .center-content .megamenu-sale .main-list-sale .list-one-sale {
      padding: 20px;
      height: 220px; }
      .center-content .megamenu-sale .main-list-sale .list-one-sale li {
        padding: 10px; }
      .center-content .megamenu-sale .main-list-sale .list-one-sale .list-all-sale {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .center-content .megamenu-sale .main-list-sale .list-one-sale .list-all-sale li {
          text-align: left; }
    .center-content .megamenu-sale .main-list-sale .list-two-sale img {
      width: 416px;
      height: 260px;
      float: right; }

.body-container .images img {
  padding: 30px 0px;
  max-width: 100%; }

.sales-content {
  display: flex;
  margin: 0px 75px; }
  .sales-content .left-image {
    padding: 0px 15px; }
    .sales-content .left-image img {
      width: 458px;
      height: 624px; }
    .sales-content .left-image h2 {
      font-size: 1.763em;
      padding-top: 30px; }
    .sales-content .left-image h4 {
      padding-top: 10px; }
    .sales-content .left-image h6 {
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 1.66667em;
      letter-spacing: 0.1px;
      transition: opacity 0.25s ease-in-out;
      text-decoration: none;
      padding-top: 10px; }
  .sales-content .right-image {
    padding-left: 105px;
    padding-top: 55px; }
    .sales-content .right-image img {
      width: 630px;
      height: 508px; }
    .sales-content .right-image h2 {
      font-size: 1.763em;
      padding-top: 30px; }
    .sales-content .right-image h4 {
      padding-top: 10px; }
    .sales-content .right-image h6 {
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 1.66667em;
      letter-spacing: 0.1px;
      transition: opacity 0.25s ease-in-out;
      text-decoration: none;
      padding-top: 10px; }

.for-you-tag {
  display: flex; }
  .for-you-tag .left-content-you-tag h1 {
    font-size: 1.763em;
    padding-top: 30px; }
  .for-you-tag .left-content-you-tag h4 {
    padding-top: 10px; }
  .for-you-tag .left-content-you-tag h6 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.66667em;
    letter-spacing: 0.1px;
    transition: opacity 0.25s ease-in-out;
    text-decoration: none;
    padding-top: 10px; }
  .for-you-tag .right-content-you-tag img {
    width: 30%;
    height: 30%; }

.main-information .information-left {
  display: inline-block;
  vertical-align: top;
  padding: 40px;
  list-style: none;
  width: 300px; }
  .main-information .information-left a {
    padding: 10px; }
  .main-information .information-left li {
    padding-bottom: 15px; }

